/.phpunit.cache
/node_modules
/public/build
/public/sneat
/public/hot
/public/storage
/resources/views/auth
/resources/views/editor
/resources/views/panel
/resources/views/layouts/editor
/resources/views/layouts/panel
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
